main {
    display: flex;
    flex-direction: column-reverse;
}

.loader{
    display: none;
    margin: auto;
}

@media screen and (min-with: 800px) {
    main {
        flex-direction: row;
    }    

    main > *{
        padding: 1 rem;
        flex-basis: 50%;
    }
}